body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
}

button {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    background-color: #393e43;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0e0e0e;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* 🔥 เพิ่มกล่องข้อความ (Card) 🔥 */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.hidden {
    display: none;
}

li {
    font-size: 15px;
}

img {
    border-radius: 50%;
    width: 20%;
  }